
.comment-panel{
    width: 60%; 
	height: 80px;
}
.comment-panel:before { 
  
  height: 100%;
}
.img-section {
	float: left;
	display: inline-block;
    width: 15%;
    height: 7em;
}
.msg-section {
	float: left;
	display: inline-block;
    width: 80%;
    height: 7em;
    padding: 3px;
    margin-bottom: 5px;	
  	background: #EEEEEE;
}
.user-img {
	padding: 15px 10px;
    height: 70px;
    display: inline-block;    
    background: #BCBEBE;
  
}
.btn-fix {
	margin-top: 5px;
}